@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

:root {
    --font-heading: 'Poppins', sans-serif;
    --font-main: 'Belanosima', sans-serif;
    --heading-color: #fff;
    --text-color: #f0f0f0;
    --main-color: #e94057;
    --main-bg-1: linear-gradient(320deg, #f27121, #e94057, #8a2387);
    --main-bg-2: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    --main-bg-3: radial-gradient(circle at 30% 107%, #fdf497 0%, #d6249f 0%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    --bg-glass: rgba(255, 255, 255, 0.2);
    --bg-dark-glass: rgba(255, 255, 255, 0.4);
    --bg-white: #fff;
    /* --bg-grey: #ebebeb; */
}

body {
    position: relative;
    background: var(--main-bg-1);
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container {
    min-width: 40vw;
    min-height: 80vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.form_container .steps_box {
    width: 50%;
    height: 50px;
    /* background: var(--bg-glass); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-heading);
}

.form_container .steps {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.form_container .steps .circle {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 50%;
    color: var(--text-color);
    font-size: 1.2rem;
    background: var(--bg-dark-glass);
}

.form_container .steps .done{
    background: var(--main-color);
    color: var(--bg-white);
    border: 1px solid var(--bg-glass);
}

.form_container .steps .line {
    width: 50px;
    height: 2px;
    background: var(--bg-dark-glass);
}

.form_container .main_heading {
    font-family: var(--font-heading);
    color: var(--heading-color);
    letter-spacing: 2.5px;
    word-spacing: 8px;
}

.form_container .form {
    width: 60%;
}

.form .input_fields {
    margin-bottom: 20px;
}

.form .input_fields p {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

.form .input_fields input {
    width: 100%;
    background: var(--bg-glass);
    color: #1d1d1d;
    border: 1px solid var(--bg-glass);
    border-radius: 8px;
    padding: 10px 5px;
    font-size: 0.9rem;
}

.form .btn {
    font-family: var(--font-heading);
    padding: 5px 30px;
    margin-left: auto;
    color: var(--main-color);
    background: var(--bg-white);
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 800;
    position: relative;
    right: 5px;
    float: right;
    margin-top: 20px;
}

.form .btn i {
    color: var(--main-color);
    margin-left: 12px;
    font-weight: 900;
}

.form .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form .buttons .back_btn .navigateBtn a{
    color: var(--text-color);
    font-weight: 200;
    text-decoration: none;
}
.form .buttons .back_btn .navigateBtn{
    background: var(--bg-glass);
    /* border: 1px solid var(--text-color) inset; */
    padding: 5px 10px 5px 5px;
}
.form .buttons .back_btn .navigateBtn i{
    color: var(--text-color);
    margin-right: 12px;
}
.form .buttons .navigateBtn i{
    margin-left: 12px;
}

.form .buttons .navigateBtn{
    font-family: var(--font-heading);
    padding: 5px 30px;
    margin-top: 15px;
    margin-left: auto;
    color: var(--main-color);
    background: var(--bg-white);
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 800;
}
.msg_container .msg_box{
    width: 80vw;
    height: 20vh;
}